.footer {
  background: #020059;

  color: #fff;

  padding: 70px 8% 30px;

  border-top: 1px solid rgba(255, 255, 255, .08);

  position: relative;

  overflow: hidden;
}

/* giant background text */

.footer::before {
  content: "CREATE";

  position: absolute;

  top: 50%;
  left: 50%;

  transform:
    translate(-50%, -50%);

  font-size: 12vw;

  font-weight: 900;

  color: rgba(255, 255, 255, .018);

  white-space: nowrap;

  pointer-events: none;
}

/* top */

.footer-top {
  margin-top: 14px;

  font-size: clamp(3rem, 7vw, 5.8rem);

  line-height: .9;

  font-weight: 900;
}

.footer-tag {
  color: #62bdec;

  letter-spacing: 5px;

  font-size: 12px;
}

.footer-top h2 {
  margin-top: 25px;

  font-size:
    clamp(4rem, 10vw, 9rem);

  line-height: .85;

  font-weight: 900;
}

/* middle */

.footer-middle {

  margin-top: 45px;

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  gap: 50px;
}

.footer-middle p {

  max-width: 420px;

  font-size: 1rem;

  line-height: 1.7;
}

.footer-links {
  display: flex;

  flex-direction: column;


  gap: 14px;
}

.footer-links a {
  color: white;

  text-decoration: none;

  font-size: 1rem;

  transition: .3s;
}

.footer-links a:hover {
  color: #62bdec;

  transform: translateX(10px);
}

/* bottom */

.footer-bottom{

    margin-top:55px;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.08);

    display:flex;

    justify-content:space-between;

    opacity:.7;
}

/* orange glow */

.footer::after{

    width:420px;

    height:420px;

    right:-180px;

    bottom:-180px;
}

/* responsive */

@media (max-width:768px){

    .footer{

        padding:55px 24px 24px;
    }

    .footer-top h2{

        font-size:2.7rem;
    }

    .footer-middle{

        margin-top:35px;

        flex-direction:column;

        gap:30px;
    }

    .footer-bottom{

        margin-top:35px;

        flex-direction:column;

        gap:12px;
    }

    .footer::before{

        font-size:18vw;
    }

}